@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comic+Relief:wght@400;700&display=swap');

* {
    margin: auto;
}

body {
    font-family: "Caveat", cursive;
    background-color: #e0e0e0;
}

header {
    background: #003cff;
    text-align: center;
    padding: 10px;
    border: solid 5px #000000;
    border-radius: 10px;
    margin: 20px 20px;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 50px;
}

h2,
h3,
h4,
h5 {
    font-family: "Comic Relief", system-ui;
}

#frase-favorita {
    font-family: "Comic Relief", system-ui;
}

p {
    font-family: "Caveat", cursive;
    color: #000000;
    margin-bottom: 15px;
}

.bi {
    margin: 10px 0;
    color: #000000;
}

nav {
    overflow: hidden;
    padding: 10px 0;
}

#menu-principal {
    list-style-type: none;
    background-color: #ffffff;
    display: flex; 
    border: solid 5px #000000;
    border-radius: 10px;
    padding: 10px 0;
    margin: 5px 20px;
}

#menu-principal a {
    text-decoration: none;
    color: #1100a7;
    font-size: 16px;
    font-weight: bolder;
}

#menu-principal a:hover {
    color: #000000;
    background-color: #b9b9b9;
    padding: 5px;
    border-radius: 10px;
}

#sobre-mi {
    background-color: #ffffff;
    border: solid 5px #000000;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

#foto-perfil {
    width: 300px;
    border-radius: 10%;
    float: left;
}

main {
    overflow: hidden;
}

section {
    overflow: hidden;
}

#proyectos {
    background-color: #ffffff;
    padding: 20px 30px;
    border: solid 5px #000000;
    margin: 40px 20px;
    border-radius: 10px;
    text-align: center;
}

.proyecto {
    float: center;
    width: 50%;
    margin-top: 10px;
}

.proyecto img {
    width: 70%;
    border-radius: 15px;
    display: block;
}

.proyecto h3 {
    color: #7300ff;
    font-weight: bolder;
    margin-top: 10px;
}

.proyecto p {
    text-align: justify;
    padding: 10px 20px;
    color: #000000
}

#habilidades {
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px;
    border: solid 5px #000000;
    margin: 40px 20px;
    border-radius: 10px;
}

.lista-tecnologias {
    list-style: none;
    display: grid;
    margin-left: 0;
    gap: 10px;
}

.lista-tecnologias li {
    background-color: #008cff;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    text-align: left;
}

progress {
    appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    border: solid 2px #000000;
}

progress::-webkit-progress-bar {
    background-color: #c4c4c4;
}

.barra-html5::-webkit-progress-value {
    background-color: #0040ff;
}

#contacto {
    background-color: #ffffff;
    padding: 20px 20px 5px 20px;
    border: solid 5px #000000;
    margin: 40px 20px;
    border-radius: 10px;
}

.campos {
    width: 70%;
    clear: both;
    font-size: 18px;
    margin: 20px 0;
}

.campos label {
    padding-right: 20px;
}

.campos input,
select {
    padding: 10px;
    border: solid 3px #000000;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
}

.campos button {
    background-color: #0040ff;
    color: #dcdcdc;
    border: solid 2px #000000;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
}

.campos .opciones {
    width: 20px;
}

footer {
    overflow: hidden;
    padding: 20px 0 5px 0;
    background-color: #0040ff;
    text-align: center;
    border-top: solid 5px #000000;
}

footer p {
    color: #000000;
}